<!DOCTYPE>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="./img/favicon.png">
    <link rel="icon" href="./img/favicon.png">
    <link rel="stylesheet" href="./css/app.css">
</head>

<body>

    <section>
        {{>header}}
        <img class='lanscape' src="./img/404.JPG" alt="my pic">
    </section>

    {{>footer}}
</body>
</body>

</html>