<!DOCTYPE>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="./img/favicon.png">
        <link rel="stylesheet" href="./css/app.css">
    </head>
    <body>
        <section>
            {{>header}}
            <p>{{helpText}}</p>
        </section>
        
        {{>footer}}
    </body>
</html>