<!DOCTYPE>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="./img/favicon.png">
        <link rel="stylesheet" href="./css/app.css">
        <script type="text/javascript" src="./js/scripts.js" ></script>
    </head>
    <body>
        <section>
           {{>header}}
        </section>
        
        {{>footer}}
    </body>
</html>